{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row text-right">
        <a href="{{ path('category_new') }}" class="btn">Create a new category</a>
    </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class="text-right">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-primary">edit</a>
                        </div>

                        <div class="col-md-3 text-left">
                            {{ form_start(delete_forms[category.id]) }}
                            <input type="submit" value="Delete" class="btn btn-danger">
                            {{ form_end(delete_forms[category.id]) }}
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
