{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row text-center">
            <a href="{{ path('category_new') }}" class="btn btn-success">
                Create a new category
                <i class="fa fa-plus fa-align-right"></i>
            </a>
        </div>

        <hr>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th colspan="2">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('post_index', {"category_id" : category.id}) }}">{{ category.name }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-primary">
                            <i class="fa fa-pencil fa-align-left"></i>
                            edit
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete-{{ category.id }}">
                            <i class="fa fa-trash fa-align-left"></i>
                            delete
                        </button>

                        <div class="modal fade" role="dialog" id="modalDelete-{{ category.id }}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_start(delete_forms[category.id]) }}
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fa fa-trash fa-align-left"></i>
                                            delete
                                        </button>
                                        {{ form_end(delete_forms[category.id]) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
