{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row text-center">
            <a href="{{ path('category_new') }}" class="btn btn-success">
                Create a new category
                <i class="fa fa-plus fa-align-right"></i>
            </a>
        </div>

        <hr>
    {% endif %}

    <div class="row">
        {% for category in categories %}
            <div class="col-md-3 col-sm-4">
                <div class="panel panel-default my-card my-card-small">
                    <a href="{{ path('post_index', {"category_id" : category.id}) }}">
                        <div class="panel-body text-center">{{ category.name }}</div>
                    </a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="panel-footer my-card-footer-small">
                            <div class="row">
                                <a href="{{ path('category_edit', { 'id': category.id }) }}" class="col-xs-6 btn btn-link btn-link-info">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                                </a>
                                <a class="col-xs-6 btn btn-link btn-link-danger btn-border-left deleteCategory" data-toggle="modal" data-target="#modalDeleteCategory" data-delete-link="{{ path('category_delete', {"id": category.id}) }}">
                                    <i class="fa fa-trash-o"></i>&nbsp;Delete
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h1><i class="fa fa-meh-o" aria-hidden="true"></i></h1>
                        <p>No category found</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <div class="modal fade" role="dialog" id="modalDeleteCategory">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure ?</p>
                    </div>
                    <div class="modal-footer">
                        {{ form_start(delete_form, {'action':''}) }}
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash-o"></i>&nbsp;delete
                        </button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.deleteCategory').click(function () {
                var deleteLink = $(this).data('delete-link');
                $("#modalDeleteCategory form").attr('action', deleteLink);
            });
        });
    </script>
{% endblock %}