{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row text-right">
        <a href="{{ path('category_new') }}" class="btn">Create a new category</a>
    </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th colspan="2">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-primary">
                            <i class="fa fa-pencil fa-align-left"></i>
                            edit
                        </a>
                    </td>
                    <td>
                        {{ form_start(delete_forms[category.id]) }}
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash fa-align-left"></i>
                            delete
                        </button>
                        {{ form_end(delete_forms[category.id]) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
