<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Blog symfony{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Stylesheets libs -->
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include ':partials:navbar.html.twig' %}

        <div class="container">
            {% include ':partials:flash-messages.html.twig' %}

            {% block body %}{% endblock %}
        </div>

        {% include ':partials:footer.html.twig' %}

        <!-- Scripts libs -->
        <script src="{{ asset('lib/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
