{% set level = comment.level %}
{% set colBodySm = 11 - level %}
{% set colBodyXs = 12 - level %}
{% set canReply = level < 2 %}

<div class="row comment-card">
    <div class="hidden-xs col-sm-1 col-sm-offset-{{ level }}">
        <div class="thumbnail">
            {% if comment.user.file %}
                <img class="img-responsive comment-user-photo" src="{{ comment.user.file.webPath }}" alt="profile picture">
            {% else %}
                <img class="img-responsive comment-user-photo" src="{{ asset('assets/img/avatar_2x.png') }}" alt="profile picture">
            {% endif %}
        </div>
    </div>

    <div class="col-xs-{{ colBodyXs }} col-xs-offset-{{ level }} col-sm-offset-0 col-sm-{{ colBodySm }}">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if comment.title %}<h4>{{ comment.title }}</h4>{% endif %}
                <p>{{ comment.content }}</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-8">
                        <small>Created by {% if comment.user %}{{ comment.user.firstname }}{% else %}Anonymous{% endif %} - <span class="timeago" data-time="{{ comment.createdAt|date('Y-m-d H:i:s') }}"></span></small>
                    </div>
                    <div class="col-xs-4 text-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <button class="btn btn-danger btn-xs deleteComment" data-delete-link="{{ path('post_delete_comment', {"id": comment.id}) }}" data-toggle="modal" data-target="#modalDeleteComment">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete
                            </button>
                        {% endif %}
                        {% if canReply %}
                            <button class="btn btn-primary btn-xs addComment" data-parent-id="{{ comment.id }}" data-toggle="modal" data-target="#modalAddComment">
                                <i class="fa fa-reply fa-align-left" aria-hidden="true"></i>&nbsp;Reply
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for child in comment.childrens %}
    {% include ':post/partials:_comment.html.twig' with {"comment": child} %}
{% endfor %}