{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Profile</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
    
    {% if user.file %}
        <img src="{{ user.file.webPath }}" alt="profile picture" class="img-responsive user-photo">
    {% else %}
        <img src="{{ asset('assets/img/avatar_2x.png') }}" alt="profile picture" class="img-responsive user-photo">
    {% endif %}

    <div class="row text-center">
        {% if user.file %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteProfilePicture">
                <i class="fa fa-trash-o"></i>&nbsp;Delete profile picture
            </button>
        {% endif %}
        <a href="{{ path('user_profile_change_password') }}" class="btn btn-warning">
            <i class="fa fa-unlock-alt fa-align-left"></i>
            Change password
        </a>
        <a href="{{ path('user_profile_edit') }}" class="btn btn-primary">
            <i class="fa fa-pencil fa-align-left"></i>
            Edit profile
        </a>
    </div>

    {% if user.file %}
        <div class="modal fade modal-danger" role="dialog" id="modalDeleteProfilePicture">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete profile picture</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this image ?</p>
                        <img src="{{ user.file.webPath }}" alt="profile picture" class="img-responsive user-photo">
                    </div>
                    <div class="modal-footer">
                        {{ form_start(delete_comment_form) }}
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash-o"></i>
                            delete
                        </button>
                        {{ form_end(delete_comment_form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}