{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Profile</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
    
    {% if user.file %}
        <img src="{{ user.file.webPath }}" alt="profile picture" class="img-responsive user-photo">
    {% else %}
        <img src="{{ asset('assets/img/avatar_2x.png') }}" alt="profile picture" class="img-responsive user-photo">
    {% endif %}

    <div class="row text-center">
        <a href="{{ path('user_profile_change-password') }}" class="btn btn-warning">
            <i class="fa fa-unlock-alt fa-align-left"></i>
            Change password
        </a>
        <a href="{{ path('user_profile_edit') }}" class="btn btn-primary">
            <i class="fa fa-pencil fa-align-left"></i>
            Edit profile
        </a>
    </div>
{% endblock %}