{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user and not category %}
        <div class="row text-center">
            <a href="{{ path('post_new') }}" class="btn btn-success">
                Create a new post
                <i class="fa fa-plus fa-align-right"></i>
            </a>
        </div>

        <hr>
    {% endif %}

    {% if category %}
        <div class="row text-center">
            <h2 class="page-header">Posts for category :
                <small>{{ category.name }}</small>
            </h2>
            <a href="{{ path('post_index') }}" class="btn btn-default">Remove filter</a>
        </div>

        <br>
    {% endif %}

    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <div class="panel panel-default my-card">
                    {% if app.user and app.user.id == post.user.id or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary edit-button">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    {% endif %}

                    <a href="{{ path('post_show', { 'slug': post.slug }) }}">
                        <div class="panel-body text-justify">
                            <h3 class="card-post-title">{{ post.name|truncate(20, true)|raw }}</h3>
                            <p class="card-post-content">{{ post.content|truncate(400, true)|raw }}</p>
                        </div>
                    </a>

                    <div class="panel-footer">
                        <small>Created by {{ post.user.firstname }} - <span class="timeago" data-time="{{ post.createdAt|date('Y-m-d H:i:s') }}"></span></small>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h1><i class="fa fa-meh-o" aria-hidden="true"></i></h1>
                        <p>No post found</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
