{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-center">
        <a href="{{ path('post_new') }}" class="btn btn-success">
            Create a new post
            <i class="fa fa-plus fa-align-right"></i>
        </a>
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Categories</th>
                <th>Created By</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.name }}</td>
                    <td class="text-justify">{{ post.content|slice(0, 100) ~ '...' }}</td>
                    <td>
                        {% for category in post.categories %}
                            <span class="label label-default">{{ category.name }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ post.user.fullname }}</td>
                    <td>
                        {% if app.user.id == post.user.id or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary">
                                <i class="fa fa-pencil fa-align-left"></i>
                                edit
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('post_show', { 'id': post.id }) }}" class="btn btn-default">
                            <i class="fa fa-eye fa-align-left"></i>
                            show
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No post</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
