{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <div class="row text-right">
        <a href="{{ path('post_new') }}" class="btn">Create a new post</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Category</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.name }}</td>
                    <td class="text-justify">{{ post.content|slice(0, 100) ~ '...' }}</td>
                    <td>{% if post.category %}{{ post.category.name }}{% endif %}</td>
                    <td>{{ post.user.fullname }}</td>
                    <td>
                        {% if app.user.id == post.user.id or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary">edit</a>
                        {% endif %}
                        <a href="{{ path('post_show', { 'id': post.id }) }}" class="btn btn-default">show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
