{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                    {% for category in post.categories %}
                        <span class="label label-default">{{ category.name }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ post.user.fullname }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% set canEdit = app.user and app.user.id == post.user.id or is_granted('ROLE_ADMIN') %}

    <div class="row">
        <div class="col-md-6 text-left">
            <a href="{{ path('post_index') }}" class="btn btn-default">
                <i class="fa fa-angle-left fa-align-left"></i>
                Back to the list
            </a>

            {% if canEdit %}
                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary">
                    <i class="fa fa-pencil fa-align-left"></i>
                    Edit
                </a>
            {% endif %}
        </div>

        {% if canEdit %}
            <div class="col-md-6 text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    <i class="fa fa-trash fa-align-left"></i>
                    delete
                </button>
            </div>

            <div class="modal fade" role="dialog" id="modalDelete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Delete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure ?</p>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(delete_form) }}
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-trash fa-align-left"></i>
                                delete
                            </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAddComment">Add a comment</button>
        </div>

        <div class="modal fade" role="dialog" id="modalAddComment">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add a comment</h4>
                    </div>

                    {{ form_start(comment_form, {'action': path('post_new_comment', {'id': post.id})}) }}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(comment_form) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Add comment</button>
                    </div>
                    {{ form_end(comment_form) }}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="comments">
        {% for comment in post.comments %}
            <div class="row comment-card">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>

                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>{{ comment.title }}</h3>
                            <p>{{ comment.content }}</p>
                        </div>
                        <div class="panel-footer">
                            <small>Created by {% if comment.user %}{{ post.user.firstname }}{% else %}Anonymous{% endif %} - <span class="timeago" data-time="{{ comment.createdAt|date('Y-m-d H:i:s') }}"></span></small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}