{% extends 'base.html.twig' %}

{% block body %}

    {% if not user.enabled %}
    <div class="alert alert-warning">
        <i class="fa fa-warning fa-align-left"></i>
        This user is disabled
    </div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if user.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        <span class="label label-default">{{ role }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% set canEdit = not user.hasRole("ROLE_SUPERADMIN") and user.id != app.user.id %}

    <div class="row">
        <div class="col-md-6 text-left">
            <a href="{{ path('admin_user_index') }}" class="btn btn-default">
                <i class="fa fa-angle-left fa-align-left"></i>
                Back to the list
            </a>

            {% if canEdit %}
                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-primary">
                    <i class="fa fa-pencil fa-align-left"></i>
                    Edit
                </a>
            {% endif %}
        </div>

        {% if canEdit %}
            <div class="col-md-6 text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    <i class="fa fa-trash fa-align-left"></i>
                    delete
                </button>
            </div>

            <div class="modal fade" role="dialog" id="modalDelete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Delete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure ?</p>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(delete_form) }}
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-trash fa-align-left"></i>
                                delete
                            </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
