{% extends 'base.html.twig' %}

{% block body %}

    {% if not user.enabled %}
    <div class="alert alert-warning">
        <i class="fa fa-warning fa-align-left"></i>
        This user is disabled
    </div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        <span class="label label-default">{{ role|trans }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if user.file %}
        <img src="{{ user.file.webPath }}" alt="profile picture" class="img-responsive user-photo">
    {% else %}
        <img src="{{ asset('assets/img/avatar_2x.png') }}" alt="profile picture" class="img-responsive user-photo">
    {% endif %}

    <br>

    {% set canEdit = not user.hasRole("ROLE_SUPERADMIN") and user.id != app.user.id %}

    <div class="row">
        <div class="col-md-6 text-left">
            <a href="{{ path('admin_user_index') }}" class="btn btn-default">
                <i class="fa fa-angle-left fa-align-left"></i>
                Back to the list
            </a>

            {% if canEdit and user.enabled %}
                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-primary">
                    <i class="fa fa-pencil fa-align-left"></i>
                    Edit
                </a>
            {% endif %}
        </div>

        {% if canEdit %}
            <div class="col-md-6 text-right">
                <button class="btn btn-{% if user.enabled %}danger{% else %}success{% endif %}" data-toggle="modal" data-target="#modalEnableDisable">
                    {% if user.enabled %}
                        <i class="fa fa-ban"></i>
                        Disabled
                    {% else %}
                        <i class="fa fa-plus-square-o"></i>
                        Enabled
                    {% endif %}
                </button>
            </div>

            <div class="modal fade modal-{% if user.enabled %}danger{% else %}success{% endif %}" role="dialog" id="modalEnableDisable">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{% if user.enabled %}Disabled{% else %}Enabled{% endif %} User</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure ?</p>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(enable_disable_form) }}
                            <button class="btn btn-{% if user.enabled %}danger{% else %}success{% endif %}" type="submit">
                                {% if user.enabled %}
                                    <i class="fa fa-ban"></i>
                                    Disabled
                                {% else %}
                                    <i class="fa fa-plus-square-o"></i>
                                    Enabled
                                {% endif %}
                            </button>
                            {{ form_end(enable_disable_form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
